/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

:root {
    --card-background: linear-gradient(0deg, rgba(50, 46, 220, 1) 0%, rgba(103, 66, 251, 1) 100%);
}

* {
    font-family: 'Lato', sans-serif;
    padding: 0;
    margin: 0;
}


@media only screen and (max-width: 290px) {
    /* CSS styles for smart watch goes here */

    .card {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .flex-container {
        display: flex;
        flex-direction: column;
    }

    .blue-board {
        max-width: 100%;
        background: var(--card-background);
        border-radius: 0 0 2rem 2rem;
        box-shadow: 3px 3px 20px 1px #747676;
        display: flex;
        flex-direction: column;
    }

    .blue-board-title {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 2rem;
        font-size: 1.1rem;
        color: #fff;
        opacity: .9;
    }


    .circle {
        margin: 2rem 0;
        width: 8.5rem;
        height: 8.5rem;
        border-radius: 50%;
        background: linear-gradient(0deg, rgb(84, 46, 237) 0%, rgb(28, 25, 201) 100%);

        display: flex;
        flex-direction: column;
        align-self: center;
    }

    .circle h1 {
        display: flex;
        align-self: center;
        justify-content: center;
        color: white;
        font-size: 3.5rem;
        margin-top: 1.5rem;
    }

    .circle p {
        margin: 0;
        padding: 0;
        font-size: 1rem;
        font-weight: bolder;
        color: #fff;
        opacity: .5;
        align-self: center;
    }

    .blue-board h2 {
        color: #fff;
        display: flex;
        align-self: center;
    }

    .blue-board>p {
        color: #fff;
        padding: 1rem 3rem;
        display: flex;
        align-self: center;
        text-align: center;
    }

    .summary {
        display: flex;
        flex-direction: column;
        max-width: 100%;
        padding: 1rem 2rem;
    }

    .summary h5 {
        padding: .5rem 1rem;
        font-size: 1rem;
        letter-spacing: 1px;
    }

    .summaryCard {
        display: flex;
        flex-direction: row;
        border-radius: .4rem;
        padding: .5rem .9rem;
        margin: .5rem;
    }

    .sumCardLeft {
        width: 50%;
        /* display: flex;
        flex-direction: row;
        align-items: center; */

        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;

    }

    #reaction {
        background-color: #fff6f5;
        border-radius: .4rem;
        margin: .5rem 0;
    }

    #reaction .sumCardLeft span {
        display: none;
    }

    #memory {
        background-color: #fffbf2;
        border-radius: .4rem;
        margin: .5rem 0;
    }

    #memory .sumCardLeft span {
        display: none;
    }

    #verbal {
        background-color: #f2fbfa;
        border-radius: .4rem;
        margin: .5rem 0;
    }

    #verbal .sumCardLeft span {
        display: none;
    }

    #visual {
        background-color: #f3f3fd;
        border-radius: .4rem;
        margin: .5rem 0;
    }

    #visual .sumCardLeft span {
        display: none;

    }

    .sumCardRight {
        width: 50%;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
    }

    .scored {
        font-weight: bold;
    }

    .total {
        opacity: .5;
    }
}

/* Media query for screens with a maximum width of 768px (mobile devices) */
@media only screen and (min-width: 290px) and (max-width: 768px) {
    /* CSS styles for mobile devices go here */

    .card {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .flex-container {
        display: flex;
        flex-direction: column;
    }

    .blue-board {
        max-width: 100%;
        background: var(--card-background);
        border-radius: 0 0 2rem 2rem;
        box-shadow: 3px 3px 20px 1px #747676;
        display: flex;
        flex-direction: column;
    }

    .blue-board-title {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 2rem;
        font-size: 1.1rem;
        color: #fff;
        opacity: .9;
    }


    .circle {
        margin: 2rem 0;
        width: 8.5rem;
        height: 8.5rem;
        border-radius: 50%;
        background: linear-gradient(0deg, rgb(84, 46, 237) 0%, rgb(28, 25, 201) 100%);

        display: flex;
        flex-direction: column;
        align-self: center;
    }

    .circle h1 {
        display: flex;
        align-self: center;
        justify-content: center;
        color: white;
        font-size: 3.5rem;
        margin-top: 1.5rem;
    }

    .circle p {
        margin: 0;
        padding: 0;
        font-size: 1rem;
        font-weight: bolder;
        color: #fff;
        opacity: .5;
        align-self: center;
    }

    .blue-board h2 {
        color: #fff;
        display: flex;
        align-self: center;
    }

    .blue-board>p {
        color: #fff;
        padding: 1rem 3rem;
        display: flex;
        align-self: center;
        text-align: center;
    }

    .summary {
        display: flex;
        flex-direction: column;
        max-width: 100%;
        padding: 1rem 2rem;
    }

    .summary h5 {
        padding: .5rem 1rem;
        font-size: 1rem;
        letter-spacing: 1px;
    }

    .summaryCard {
        display: flex;
        flex-direction: row;
        border-radius: .4rem;
        padding: .5rem .9rem;
        margin: .5rem;
    }

    .sumCardLeft {
        width: 50%;
        /* display: flex;
        flex-direction: row;
        align-items: center; */

        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;

    }

    #reaction {
        background-color: #fff6f5;
        border-radius: .4rem;
        margin: .5rem 0;
    }

    #reaction .sumCardLeft span {
        color: #ff8d81;
        display: flex;
        justify-content: center;
    }

    #memory {
        background-color: #fffbf2;
        border-radius: .4rem;
        margin: .5rem 0;
    }

    #memory .sumCardLeft span {
        color: #ffd981;
        display: flex;
        justify-content: center;
    }

    #verbal {
        background-color: #f2fbfa;
        border-radius: .4rem;
        margin: .5rem 0;
    }

    #verbal .sumCardLeft span {
        color: #80fff0;
        display: flex;
        justify-content: center;
    }

    #visual {
        background-color: #f3f3fd;
        border-radius: .4rem;
        margin: .5rem 0;
    }

    #visual .sumCardLeft span {
        color: #8080ff;
        display: flex;
        justify-content: center;
    }

    .sumCardRight {
        width: 50%;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
    }

    .scored {
        font-weight: bold;
    }

    .total {
        opacity: .5;
    }

    .btn {
        display: flex;
        width: 80%;
        height: 3rem;
        align-self: center;
        justify-content: center;
        border: none;
        border-radius: 2rem;
        background-color: #303b5a;
        color: white;
        margin-bottom: 1rem;
        align-items: center;
    }

    .btn:hover {
        cursor: pointer;
        background-color: #474b58;
    }

}

/* Media query for screens with a minimum width of 768px and a maximum width of 991px 
   CSS styles for tablets and small laptops go here */
@media only screen and (min-width: 768px) and (max-width: 991px) {

    .card {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .flex-container {
        display: flex;
        flex-direction: column;
    }

    .blue-board {
        max-width: 100%;
        background: var(--card-background);
        border-radius: 2rem;
        box-shadow: 3px 3px 20px 1px #747676;
        display: flex;
        flex-direction: column;
        margin: 1rem;
    }

    .blue-board-title {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 2rem;
        font-size: 1.1rem;
        color: #fff;
        opacity: .9;
    }

    .circle {
        margin: 2rem 0;
        width: 8.5rem;
        height: 8.5rem;
        border-radius: 50%;
        background: linear-gradient(0deg, rgb(84, 46, 237) 0%, rgb(28, 25, 201) 100%);

        display: flex;
        flex-direction: column;
        align-self: center;
    }

    .circle h1 {
        display: flex;
        align-self: center;
        justify-content: center;
        color: white;
        font-size: 3.5rem;
        margin-top: 1.5rem;
    }

    .circle p {
        margin: 0;
        padding: 0;
        font-size: 1rem;
        font-weight: bolder;
        color: #fff;
        opacity: .5;
        align-self: center;
    }

    .blue-board h2 {
        color: #fff;
        display: flex;
        align-self: center;
    }

    .blue-board>p {
        color: #fff;
        padding: 1rem 3rem;
        display: flex;
        align-self: center;
        text-align: center;
    }


    .summary {
        border: solid 1px red;
        display: flex;
        flex-direction: column;
        width: 80%;
        max-width: 85%;
        align-self: center;
        padding: 1rem 2rem;
        margin: 2rem 0;
    }

    .summary h5 {
        padding: .5rem 1rem;
        font-size: 1rem;
        letter-spacing: 1px;
    }

    .summaryCard {
        display: flex;
        flex-direction: row;
        border-radius: .4rem;
        padding: .5rem .9rem;
        margin: .5rem;
    }


}

/* Media query for screens with a minimum width of 992px and a maximum width of 1199px (larger laptops and desktops) */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    /* CSS styles for tablets and small laptops go here */

}



/* Media query for screens with a minimum width of 1200px and a maximum width of 1440px (larger laptops and desktops) */
@media only screen and (min-width: 1200px)and (max-width: 1439px) {
    /* CSS styles for larger laptops and desktops go here */

    * {
        font-family: 'Roboto', sans-serif;
    }

    .container {
        display: flex;
        flex-wrap: wrap;
        max-width: 100%;
    }

    .card {
        width: 41%;
        margin: 0 auto;
        padding: 5rem 0;
    }


    .flex-container {
        display: flex;
        background-color: #feffff;
        border-radius: 2rem;
        box-shadow: 3px 3px 20px 1px #747676;
        /* box-shadow: 0px 10px 50px 1px #565858; */
    }

    .flex-container>div:nth-child(1) {
        width: 50%;
        height: 400px;
        border-radius: 2rem;
        /* background: rgb(50, 46, 220); */
        /* background: linear-gradient(0deg, rgba(50, 46, 220, 1) 0%, rgba(103, 66, 251, 1) 100%); */
        background-color: var(--card-background);
    }

    .flex-container:nth-child(2) {
        width: 100%;
        background: #feffff;
        /* display: flex;
        flex-direction: column;
        align-content: center; */
    }


    .blue-board {
        color: white;
        letter-spacing: 1px;
        display: flex;
        flex-direction: column;
    }

    .blue-board h2 {
        color: white;
        letter-spacing: 1px;
        display: flex;
        align-self: center;
    }

    .blue-board p {
        padding: 0 40px;
        text-align: center;
        color: white;

        font-size: .8rem;
        letter-spacing: 1px;
        align-self: center;

    }

    .blue-board div {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .scoreTitle {
        width: 100%;
        display: flex;
        /* align-items: center; */
        justify-content: center;
    }


    .circle {
        margin-top: 1rem;
        width: 150px;
        height: 150px;
        border-radius: 50%;
        background: linear-gradient(0deg, rgb(84, 46, 237) 0%, rgb(28, 25, 201) 100%);

        display: flex;
        align-self: center;
        flex-direction: column;
    }

    .circle h1 {
        margin: 0;
        color: white;
        font-size: 2.6rem;
        display: flex;
        align-self: center;
        align-items: center;
        justify-content: center;

    }

    .circle p {
        /* display: block; */
        margin: 0;
        color: white;
        font-size: .8rem;
        opacity: .5;
        display: flex;
        align-self: center;
        align-items: center;
        justify-content: center;

    }

    .summary {
        width: 50%;
        display: flex;

        /* align-items: center; */
        /* justify-content: center; */
    }

    .summary>h5 {
        margin-left: 15px;
        letter-spacing: 1px;
    }

}

/* Media query for screens with a minimum width of 1440px (larger screens) */
@media only screen and (min-width: 1440px) {
    /* CSS styles for larger screens go here */



}